<app-header></app-header>
<app-sidebar></app-sidebar>
<app-footer></app-footer>
<div class="content-wrapper">

    <app-content-header [ContentHeader]="content_header_name"></app-content-header>

    <div class="card">
        <div class="card-body">
            <!-- Main content -->


            <table>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>ผู้ขนส่ง: </mat-label>
                            <mat-select matNativeControl required [formControl]="carrierID">
                                <ng-container *ngIf="GetCarrierName.result != undefined">
                                    <mat-option *ngFor="let carName of GetCarrierName.result"
                                        [value]="carName.carrierid">
                                        {{carName.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td style="padding: 10px;">
                        <mat-form-field>
                            <mat-label>ค้นหาด้วย: </mat-label>

                            <mat-select matNativeControl required [formControl]="searchwithkey">

                                <mat-option *ngFor="let kw of searchkey" [value]="kw.value">
                                    {{kw.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </td>

                    <td style="padding: 5px;">

                        <form class="example-form">
                            <mat-form-field class="example-full-width" style="width:80%; display: inline-block;">
                                <input matInput placeholder="" [formControl]="searchkeyword">
                            </mat-form-field>

                        </form>
                    </td>
                    <td>
                        <mat-icon matDatepickerToggleIcon (click)="SearchWithkeyword()">search</mat-icon>

                    </td>
                </tr>
            </table>



            <!-- try table form sim API -->
            <ng-container *ngIf="GetResProcessSearchConNotAssign != null">
                <div class="example-container mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort style="font-size: 30px;">
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <ng-container matColumnDef="nRow">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                No. </th>
                            <td mat-cell *matCellDef="let row"> {{row.nRow}} </td>
                        </ng-container>

                        <ng-container matColumnDef="receive_Date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                วันที่เข้ารับสินค้า </th>
                            <td mat-cell *matCellDef="let row"> {{row.receive_Date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="invoiceNum">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                INVOICE NO. </th>
                            <td mat-cell *matCellDef="let row"> {{row.invoiceNum}} </td>
                        </ng-container>

                        <ng-container matColumnDef="agentNum">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                Agent </th>
                            <td mat-cell *matCellDef="let row"> {{row.agentNum}} </td>
                        </ng-container>

                        <ng-container matColumnDef="bookingNum">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                Booking No. </th>
                            <td mat-cell *matCellDef="let row"> {{row.bookingNum}} </td>
                        </ng-container>

                        <ng-container matColumnDef="pickUpAt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                รับตู้ <br>
                                (Pick Up At) </th>
                            <td mat-cell *matCellDef="let row"> {{row.pickUpAt}} </td>
                        </ng-container>

                        <ng-container matColumnDef="returnTo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                คืนตู้ <br>
                                (Return To) </th>
                            <td mat-cell *matCellDef="let row"> {{row.returnTo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="closingDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                Closing Date </th>
                            <td mat-cell *matCellDef="let row"> {{row.closingDate}} </td>
                        </ng-container>

                        <ng-container matColumnDef="closingTime">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                Closing Time </th>
                            <td mat-cell *matCellDef="let row"> {{row.closingTime}} </td>
                        </ng-container>

                        <ng-container matColumnDef="etd_lcb">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                ETD LCB </th>
                            <td mat-cell *matCellDef="let row"> {{row.etd_lcb}} </td>
                        </ng-container>

                        <ng-container matColumnDef="emptyConta">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                วันที่รับตู้เปล่า </th>
                            <td mat-cell *matCellDef="let row"> {{row.emptyConta}} </td>
                        </ng-container>

                        <ng-container matColumnDef="containerNum">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                Container No. </th>
                            <td mat-cell *matCellDef="let row"> {{row.containerNum}} </td>
                        </ng-container>

                        <ng-container matColumnDef="sealNum">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                Seal No. </th>
                            <td mat-cell *matCellDef="let row"> {{row.sealNum}} </td>
                        </ng-container>

                        <ng-container matColumnDef="vgmTare">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="width:10rem;">
                                น้ำหนักตู้เปล่า <br>
                                (VGM Tare) </th>
                            <td mat-cell *matCellDef="let row"> {{row.vgmTare}} </td>
                        </ng-container>

                        <ng-container matColumnDef="containerSize">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                Container Size </th>
                            <td mat-cell *matCellDef="let row"> {{row.containerSize}} </td>
                        </ng-container>

                        <ng-container matColumnDef="returnDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                วันที่คืนตู้หนัก </th>
                            <td mat-cell *matCellDef="let row"> {{row.returnDate}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Remarks">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                วันที่คืนตู้หนัก </th>
                            <td mat-cell *matCellDef="let row"> {{row.Remarks}} </td>
                        </ng-container>

                        <ng-container matColumnDef="latestTime">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="coin-bg text-center gray-back"
                                style="max-width:5rem;">
                                เวลาบันทึกล่าสุด </th>
                            <td mat-cell *matCellDef="let row"> {{row.latestTime}} </td>
                        </ng-container>


                    </table>
                </div>
            </ng-container>

        </div>
    </div>
    <!---------------------------------- unused container section -->

    <app-content-header [ContentHeader]="content_header_name2"></app-content-header>
    <section class="content">
        <div class="card">
            <div class="card-body">

                <ng-container *ngIf="GetResProcessSearchConReg != null">
                    <div class="example-container mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource2" matSort style="font-size: 30px;">
                            <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

                            <ng-container matColumnDef="nRow">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    No. </th>
                                <td mat-cell *matCellDef="let row"> {{row.nRow}} </td>
                            </ng-container>

                            <ng-container matColumnDef="receive_Date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    วันที่เข้ารับสินค้า </th>
                                <td mat-cell *matCellDef="let row"> {{row.receive_Date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="invoiceNum">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    INVOICE NO. </th>
                                <td mat-cell *matCellDef="let row"> {{row.invoiceNum}} </td>
                            </ng-container>

                            <ng-container matColumnDef="agentNum">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    Agent </th>
                                <td mat-cell *matCellDef="let row"> {{row.agentNum}} </td>
                            </ng-container>

                            <ng-container matColumnDef="bookingNum">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    Booking No. </th>
                                <td mat-cell *matCellDef="let row"> {{row.bookingNum}} </td>
                            </ng-container>

                            <ng-container matColumnDef="pickUpAt">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    รับตู้ <br>
                                    (Pick Up At) </th>
                                <td mat-cell *matCellDef="let row"> {{row.pickUpAt}} </td>
                            </ng-container>

                            <ng-container matColumnDef="returnTo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    คืนตู้ <br>
                                    (Return To) </th>
                                <td mat-cell *matCellDef="let row"> {{row.returnTo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="closingDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    Closing Date </th>
                                <td mat-cell *matCellDef="let row"> {{row.closingDate}} </td>
                            </ng-container>

                            <ng-container matColumnDef="closingTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    Closing Time </th>
                                <td mat-cell *matCellDef="let row"> {{row.closingTime}} </td>
                            </ng-container>

                            <ng-container matColumnDef="etd_lcb">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    ETD LCB </th>
                                <td mat-cell *matCellDef="let row"> {{row.etd_lcb}} </td>
                            </ng-container>

                            <ng-container matColumnDef="emptyConta">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    วันที่รับตู้เปล่า </th>
                                <td mat-cell *matCellDef="let row"> {{row.emptyConta}} </td>
                            </ng-container>

                            <ng-container matColumnDef="containerNum">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    Container No. </th>
                                <td mat-cell *matCellDef="let row"> {{row.containerNum}} </td>
                            </ng-container>

                            <ng-container matColumnDef="sealNum">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    Seal No. </th>
                                <td mat-cell *matCellDef="let row"> {{row.sealNum}} </td>
                            </ng-container>

                            <ng-container matColumnDef="vgmTare">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="width:10rem;">
                                    น้ำหนักตู้เปล่า <br>
                                    (VGM Tare) </th>
                                <td mat-cell *matCellDef="let row"> {{row.vgmTare}} </td>
                            </ng-container>

                            <ng-container matColumnDef="containerSize">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    Container Size </th>
                                <td mat-cell *matCellDef="let row"> {{row.containerSize}} </td>
                            </ng-container>

                            <ng-container matColumnDef="returnDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    วันที่คืนตู้หนัก </th>
                                <td mat-cell *matCellDef="let row"> {{row.returnDate}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Remarks">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    วันที่คืนตู้หนัก </th>
                                <td mat-cell *matCellDef="let row"> {{row.Remarks}} </td>
                            </ng-container>

                            <ng-container matColumnDef="latestTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="coin-bg text-center gray-back" style="max-width:5rem;">
                                    เวลาบันทึกล่าสุด </th>
                                <td mat-cell *matCellDef="let row"> {{row.latestTime}} </td>
                            </ng-container>


                        </table>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>



</div>