<app-header></app-header>
<app-sidebar></app-sidebar>
<app-footer></app-footer>
<div class="content-wrapper">
        <app-content-header [ContentHeader]="content_header_name"></app-content-header>
        <!-- Main content -->
        
        <div>ค้นหา:
            <div style="display: inline-block;">
                <input [(ngModel)] = "sorting" class="form-control form-control-navbar" placeholder="Booking No., Invoice No., Container No., Seal No."> 
                <p>{{sorting}}</p>
            </div>
            
        </div>

        <section class="content">
            <div class="card">

                
                <div class="card-body pad table-responsive">
                    <table class="table table-valign-middle text-center">
                        <thead>
                            <tr>
                                <th *ngFor="let head of TableHeader">{{head}}</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let rowData of TableData; let nRow = index">
                           
                                <td *ngFor="let objKey of _object.keys(rowData);">{{rowData[objKey]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
        </section>
    
    </div>