<app-header></app-header>
<app-sidebar></app-sidebar>
<app-footer></app-footer>
<div class="content-wrapper">

    <app-content-header [ContentHeader]="content_header_name"></app-content-header>

    <div class="card">
        <div class="card-body">
            <!-- Main content -->


            <table>
                <tr>
                    <td style="padding: 10px;">
                        <mat-form-field>
                            <mat-label>ค้นหาด้วย: </mat-label>

                            <mat-select matNativeControl required [formControl]="searchwithkey">

                                <mat-option *ngFor="let kw of searchkey" [value]="kw.value">
                                    {{kw.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </td>

                    <td style="padding: 5px;">

                        <form class="example-form">
                            <mat-form-field class="example-full-width" style="width:80%; display: inline-block;">
                                <!-- <mat-label>ค้นหา: </mat-label> -->
                                <input matInput placeholder="" [formControl]="searchkeyword">
                            </mat-form-field>
                            <mat-icon matDatepickerToggleIcon (click)="keyword()">search</mat-icon>

                        </form>
                    </td>
                </tr>
            </table>

            <div class="card-body pad table-responsive">
                <table class="table table-valign-middle text-center table-bordered">
                    <thead>
                        <tr>
                            <th class="light-gray-bg" *ngFor="let head of TableHeader">{{head}}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let rowData of TableData; let nRow = index">
                            <td>{{nRow + 1}}</td>
                            <td *ngFor="let objKey of _object.keys(rowData);">{{rowData[objKey]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!---------------------------------- unused container section -->

    <app-content-header [ContentHeader]="content_header_name2"></app-content-header>
    <section class="content">
        <div class="card">
            <div class="card-body pad table-responsive">
                <table class="table table-valign-middle text-center table-bordered">
                    <thead>
                        <tr>
                            <th class="light-gray-bg" *ngFor="let head of TableHeader">{{head}}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let rowData of TableData; let nRow = index">


                            <td>{{nRow + 1}}</td>
                            <td *ngFor="let objKey of _object.keys(rowData);">{{rowData[objKey]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>



</div>