<app-header></app-header>
<app-sidebarldls></app-sidebarldls>
<app-footer></app-footer>
<div class="content-wrapper">
    <section class="content" style="padding: 10px;">
        <div class="card">
            <div class="card-body" style="font-size: 20px;">
                <app-content-header [ContentHeader]="content_header_name"></app-content-header>
                <div class="row">

                    <table>
                        <tr>
                            <td style="padding-left: 30px;">Loading Date:</td>
                            <td>
                                <app-date-picker (FindDateSelected)="GetDate($event)"></app-date-picker>
                            </td>

                        </tr>

                        <tr>
                            <td style="padding-left: 30px;">WH:</td>
                            <td>
                                <mat-form-field>
                                    <mat-select [formControl]="warehouseNum" multiple>
                                        <ng-container *ngIf="getWarehouse != undefined">
                                            <ng-container *ngIf="getWarehouse.message == 'OK'">
                                                <mat-option *ngFor="let wareno of getWarehouse.result"
                                                    [value]="wareno.storageid">{{wareno.storage_name}}
                                                </mat-option>
                                            </ng-container>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </td>

                        </tr>

                        <tr>
                            <td style="padding-left: 30px;">สถานะ:</td>
                            <td>
                                <mat-form-field>
                                    <mat-select [formControl]="statusNum">
                                        <mat-option *ngFor="let stat of statusList" [value]="stat.statusid">
                                            {{stat.statusName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>

                        </tr>

                        <tr>
                            <td></td>

                            <td style="text-align: right;">
                                <div class="btn-group" style="text-align: right; width: 100%">
                                    <app-find-button style="width: 10rem;" class="d-inline-block"
                                        (click)="datatoSearch()">
                                    </app-find-button>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>

            </div>

            <div class="card-body pad table-responsive" style="font-size: 20px;">
                <div class="row">
                    <table class="table table-responsive table-valign-middle text-center table-bordered" style="max-width: 100%;">
                        <!-- header of table -->
                        <thead style="position:sticky">
                            <th class="light-gray-bg"  *ngFor="let item of TableHeader">{{item}}</th>

                        </thead>

                        <tbody>
                            <ng-container *ngIf="getResProSearchLab != undefined">
                                <ng-container *ngIf="getResProSearchLab.message == 'OK'">
                                    <tr *ngFor="let data of getResProSearchLab.result; let i =index;" [attr.id]="i">
                                        <td>{{i+1}}</td>
                                        <td>{{data.shipemnt_type}}</td>
                                        <td>{{data.vehicle_text}}</td>
                                        <td>{{data.storage}}</td>
                                        <td>{{data.dock}}</td>
                                        <td>
                                            <ng-container *ngIf="sameShipNo[i] == 'same'"></ng-container>

                                            <ng-container *ngIf="sameShipNo[i] == 'none'"> {{data.shipment_no}}
                                            </ng-container>


                                        </td>
                                        <td>{{data.delivery_no}}</td>
                                        <td>
                                            <!-- {{data.grade}} -->
                                            <ul style="list-style-type:none; padding-inline-start:10px">
                                                <li *ngFor="let grade of grade_qty[i].grade">{{grade}}</li>
                                            </ul>

                                        </td>
                                        <td style="padding-top: 0.62rem;">

                                            <ng-container *ngFor="let qty of grade_qty[i].quantity; let y = index;">
                                                <mat-form-field class="example-full-width" style="width: 5rem;text-align: center;">
                                                    <input matInput type="number" [(ngModel)]="qty" (change)="OnchangeQty(i,y,qty)">
                                                </mat-form-field>
                                            </ng-container>

                                            <!-- [(ngModel)]="this.grade_qty[i].quantity[y]" -->

                                        </td>
                                        <td>
                                            <ng-container *ngIf="sel_status == 'รอเริ่มงาน'">
                                                <mat-form-field style="width:100%;">
                                                    <mat-select [formControl]="typeUD"
                                                        (selectionChange)="selectedToSave($event.value,i, 'updown')">
                                                        <mat-option *ngFor="let prod of typeUDList"
                                                            [value]="prod.up_downID">
                                                            {{prod.up_downName}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </ng-container>

                                            <ng-container *ngIf="sel_status == 'รอจบงาน'">
                                                ประเภทขา
                                            </ng-container>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="sel_status == 'รอเริ่มงาน'">
                                                <mat-form-field style="width:100%;">
                                                    <mat-select [formControl]="prodPack"
                                                        (selectionChange)="selectedToSave($event.value, i, 'forklift')">
                                                        <mat-option *ngFor="let prod of prodPackList"
                                                            [value]="prod.isFolkLiftID">
                                                            {{prod.isFolkLiftName}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </ng-container>

                                            <ng-container *ngIf="sel_status == 'รอจบงาน'">
                                                {{data.isforklift}}
                                            </ng-container>
                                        </td>

                                        <td>
                                            <ng-container *ngIf="sel_status == 'รอเริ่มงาน'">
                                                <mat-form-field style="width:100%;">
                                                    <mat-select [formControl]="worker1" [disabled]="bt_save[i]"
                                                        (selectionChange)="selectedToSave($event.value,i, 'workerID1')" >
                                                        <ng-container
                                                            *ngIf="getLabour != undefined && getLabour.message == 'OK'">
                                                            <mat-option *ngFor="let work1 of getLabour.result"
                                                                [value]="work1.lobour_id">
                                                                {{work1.lobour_name}}
                                                            </mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                </mat-form-field>
                                            </ng-container>

                                            <ng-container *ngIf="sel_status == 'รอจบงาน'">
                                                {{data.labor_id1}}
                                            </ng-container>

                                        </td>
                                        <td>
                                            <ng-container *ngIf="sel_status == 'รอเริ่มงาน'">
                                                <mat-form-field style="width:100%;">
                                                    <mat-select [formControl]="worker2" [disabled]="bt_save[i]"
                                                        (selectionChange)="selectedToSave($event.value,i, 'workerID2')">
                                                        <ng-container
                                                            *ngIf="getLabour != undefined && getLabour.message == 'OK'">
                                                            <mat-option *ngFor="let work2 of getLabour.result"
                                                                [value]="work2.lobour_id">
                                                                {{work2.lobour_name}}
                                                            </mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                </mat-form-field>
                                            </ng-container>

                                            <ng-container *ngIf="sel_status == 'รอจบงาน'">
                                                {{data.labor_id2}}
                                            </ng-container>

                                        </td>

                                        <td>
                                            <ng-container *ngIf="sel_status == 'รอเริ่มงาน'">
                                                <button type="button" class="btn btn-block btn-success btn-sm"
                                                    (click)="sendStart(i)">เริ่ม</button>
                                            </ng-container>

                                            <ng-container *ngIf="sel_status == 'รอจบงาน'">
                                                <button type="button" class="btn btn-block btn-warning btn-sm"
                                                    (click)="sendEnd(i)">จบงาน</button>
                                            </ng-container>
                                        </td>




                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>


                    </table>
                </div>
            </div>


        </div>
    </section>

</div>