<app-header></app-header>
<app-sidebar></app-sidebar>
<app-footer></app-footer>
<div class="content-wrapper">
    <section class="content" style="padding: 10px;">
        <div class="card">
            <div class="card-body" style="font-size: 20px;">
                <app-content-header [ContentHeader]="content_header_name"></app-content-header>

                <div class="row">
                    <!-- <br> -->
                    <div style="padding-left: 20px; max-width: 100%;">
                        <table>
                            <tr>
                                <td style="padding: 5px;">ประเภทงาน:</td>
                                <td style="padding: 5px;">ผู้ขนส่ง:</td>
                                <td style="padding: 5px;">สถานะรถ:</td>
                                <td style="padding: 5px;"></td>
                                <td style="padding: 5px;"></td>
                                <td style="padding: 5px;"></td>

                            </tr>

                            <tr>
                                <td style="padding: 5px;">
                                    <!-- <mat-form-field style="width:100%;">
                                        <mat-select [formControl]="ShipType" multiple>
                                            <mat-option *ngFor="let ship of shipTypeList" [value]="ship">{{ship}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field> -->

                                    <mat-form-field style="widows: 100%;">
                                        <mat-select [formControl]="ShipType2" multiple>
                                            <ng-container *ngIf="getShipmentType != undefined">
                                                <ng-container *ngIf="getShipmentType.message =='OK'">
                                                    <mat-option *ngFor="let ship of getShipmentType.result"
                                                        [value]="ship.shipmenttypeid">{{ship.description}}
                                                    </mat-option>
                                                </ng-container>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </td>

                                <td style="padding: 5px;">
                                    <mat-form-field style="width:100%;">
                                        <mat-select [formControl]="transportName" multiple>
                                            <ng-container *ngIf="getCarrier != undefined">
                                                <ng-container *ngIf="getCarrier.message =='OK'">
                                                    <mat-option *ngFor="let transName of getCarrier.result"
                                                        [value]="transName.carrierid">
                                                        {{transName.name}}
                                                    </mat-option>
                                                </ng-container>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </td>

                                <td style="padding: 5px;">
                                    <mat-form-field style="width:100%;">
                                        <mat-select [formControl]="tranStatus" multiple>
                                            <mat-option *ngFor="let transtat of tranStatusList"
                                                [value]="transtat.value">
                                                {{transtat.show}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>

                                <td style="padding: 5px;">
                                    <mat-form-field class="example-full-width"
                                        style="width:100%; display: inline-block;">
                                        <input matInput placeholder="Shipment No." [formControl]="shipNum">
                                    </mat-form-field>
                                </td>

                                <td style="padding: 5px;">
                                    <mat-form-field class="example-full-width"
                                        style="width:100%; display: inline-block;">
                                        <input matInput placeholder="License No." [formControl]="licenseNum">
                                    </mat-form-field>
                                </td>

                                <td style="padding: 5px; padding-bottom: 30px;">
                                    <app-find-button style="width: rem;" class="d-inline-block"
                                        (click)="datatoSearch()">
                                    </app-find-button>
                                </td>


                            </tr>

                        </table>
                    </div>

                </div>
            </div>

            <!-- table and gmap section -->
            <div class="card-body" style="font-size: 20px;">
                <div class="row">

                    <div class="col-lg-4">

                        <div class="card-body pad table-responsive p-0" style="height: 500px;">

                            <ng-container *ngIf="getResProTruckTrack != undefined">
                                <ng-container *ngIf="getResProTruckTrack.message == 'OK'">
                                    <table
                                        class="table table-head-fixed table-valign-middle text-center table-bordered">
                                        <thead>
                                            <th class="light-gray-bg">ลำดับ</th>
                                            <th class="light-gray-bg" *ngFor="let head of TableHeader">{{head}}</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of getResProTruckTrack.result; let i = index;"
                                                (click)="showLocation(i, data.no)">
                                                <td>{{i+1}}</td>
                                                <td>{{data.shipment_no}}</td>
                                                <td>{{data.vehicle_status_name}}</td>
                                                <td>{{data.carrier_name}}</td>
                                                <td>{{data.vehicle}}</td>
                                                <td>{{data.driver}}</td>
                                                <td>{{data.travel_in_time}}</td>
                                                <td>{{data.truck_arrived_feed}}</td>
                                                <td>{{data.truck_register_time}}</td>
                                                <td>{{data.speed}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>


                    <div class="col-lg-8" style="background-color: rgb(61, 146, 101);">
                        LIOOOONNN KINGGGF
                    </div>

                </div>
            </div>
        </div>


    </section>
</div>