/* additional from team */

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --light-gray: #f2f4f6;
    --coin: #c9c9c9;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

.yellow-bg{
  background-color: var(--yellow);
}

.light-gray-bg{
  background-color: var(--light-gray);
}
.gray-bg{
  background-color: var(--gray);
}

.square_bt_enable{
    padding: 0.5rem 0.5rem;
    vertical-align: middle;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: var(--red);
  }
  .square_bt_disable{
    padding: 0.5rem 0.5rem;
    vertical-align: middle;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: var(--coin);
  }
  
  .w1rem{
    width: 1rem;
  }
  .w2rem{
    width: 2rem;
  }
  .w3rem{
    width: 3rem;
  }
  .w4rem{
    width: 4rem;
  }
  .w5rem{
    width: 5rem;
  }
  .w6rem{
    width: 6rem;
  }
  .w7rem{
    width: 7rem;
  }
  .w8rem{
    width: 8rem;
  }
  .w9rem{
    width: 9rem;
  }
  .w10rem{
    width: 10rem;
  }
  .w11rem{
    width: 11rem;
  }
  .w12rem{
    width: 12rem;
  }
  .w13rem{
    width: 13rem;
  }
  .w14rem{
    width: 14rem;
  }
  .w15rem{
    width: 15rem;
  }
  .w16rem{
    width: 16rem;
  }
  .w17rem{
    width: 17rem;
  }
  .w18rem{
    width: 18rem;
  }
  .w19rem{
    width: 19rem;
  }
  .w20rem{
    width: 20rem;
  }
  
  .w11rem{
    width: 11rem;
  }

  .red-square{

    height: 50px;
    width: 50px;
    background-color:var(--red);
      
  }
  