<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <!-- <a href="../../index3.html" class="brand-link elevation-4" style="text-align: center;"> -->
    <!-- <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8"> -->
    <!-- <div class="image" style="text-align: center;">
            <img src="assets/dist/img/logo-b.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                style="opacity: .8">
        </div>
    </a> -->

    <a class="brand-link elevation-4 center">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview menu-open">
                <a class="nav-link" data-widget="pushmenu" href="#" style="padding:0; margin: 0; margin-left: 11.2px;">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>รายการหลัก</p>
                </a>
            </li>
        </ul>
    </a>




    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">

            <div class="info" style="text-align: center;">
                <a href="#" class="d-block">แผนก Shipping (LDLS) </a>
            </div>
        </div>


        <nav class="mt-2">


            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview menu-open">
                    <a routerLink="/ldls1" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-map-marker-alt"></i>
                        <p>ระบบควบคุมการขึ้นสินค้า</p>
                    </a>
                </li>
                <li class="nav-item has-treeview menu-open">
                    <a routerLink="/ldls2" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-columns"></i>
                        <p>ระบบสร้าง Shipment (ฉุกเฉิน)</p>
                    </a>
                </li>
                <li class="nav-item has-treeview menu-open">
                    <a routerLink="/ldls3" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-truck-pickup"></i>
                        <p>ระบบติดตาม Shipment</p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>