<app-header></app-header>
<app-sidebar></app-sidebar>
<app-footer></app-footer>
<div class="content-wrapper">
        <app-content-header [ContentHeader]="content_header_name"></app-content-header>
        <!-- Main content -->


        <section class="content">


            <app-dropdown-list [ListHeader] = "ListHeader1" [DropdownHeader] = "DropdownHeader1"></app-dropdown-list>
              
            <span>WAREHOUSE: </span>
            <select class="form-control" [(ngModel)]="sexs" (change)="checkValue(sexs)">

          
                <option [value]="sexs" *ngFor="let sexs of DropdownHeader2" >{{sexs}}</option>
            
            
            </select> 
          
            <div class="card">
                <app-card-header [CardHeader]="card_header_name2"></app-card-header>

                <div class="card-body pad table-responsive">
                    <table class="table table-valign-middle text-center">
                        <thead>
                            <tr>
                                <th *ngFor="let head of TableHeader">{{head}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rowData of TableData; let nRow = index">
                           
                                <td *ngFor="let objKey of _object.keys(rowData);" >{{rowData[objKey]}}</td>
                                <td><app-recall-button></app-recall-button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <table class="table table-valign-middle text-center">
                <thead>
                    <th *ngFor="let header of TableHeader">{{header}}</th>
                </thead>

                <tbody>
                    <tr *ngFor="let data of TableData1 | tableFilter: sexs">
 
                            <td *ngFor="let objKey of _object.keys(data);">{{data[objKey]}}</td>        
                    </tr>
                </tbody>
            </table>
    
        </section>
    
    </div>