<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <!-- <a href="../../index3.html" class="brand-link elevation-4" style="text-align: center;"> -->
        <!-- <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8"> -->
        <!-- <div class="image" style="text-align: center;">
            <img src="assets/dist/img/logo-b.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                style="opacity: .8">
        </div>
    </a> -->

    <a class="brand-link elevation-4 center">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview menu-open">
                <a class="nav-link" data-widget="pushmenu" href="#" style="padding:0; margin: 0; margin-left: 11.2px;">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>รายการหลัก</p>
                </a>
            </li>
        </ul>
    </a>




    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
         
            <div class="info" style="text-align: center;">
                <a href="#" class="d-block">แผนกขนส่ง (LDLT) </a>            
            </div>
        </div>

        <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info ">แผนกขนส่ง (LDLT) </div>
        </div> -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">


                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview menu-open">
                            <a routerLink="/ldlt2" routerLinkActive="active" class="nav-link">
                                <i class="nav-icon fas fa-map-marker-alt"></i>
                                <p>ระบบติดตาม Shipment</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview menu-open">
                            <a routerLink="/ldlt11" routerLinkActive="active" class="nav-link">
                                <i class="nav-icon fas fa-columns"></i>
                                <p>กำหนดโควต้าผู้ขนส่ง</p>
                            </a>
                        </li>
                      
                        <li class="nav-item has-treeview menu-open">
                            <a routerLink="/ldlt5" routerLinkActive="active" class="nav-link">
                                <i class="nav-icon fas fa-truck-pickup"></i>
                                <p>ระบบติดตามรถบรรทุก</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview menu-open">
                            <a href="/ldlt3" routerLinkActive="active" class="nav-link">
                                <i class="nav-icon fas fa-calendar-week"></i>
                                <p>ระบบจัดการคิว</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview menu-open">
                            <a href="/ldlt4" routerLinkActive="active" class="nav-link">
                                <i class="nav-icon fas fa-box"></i>
                                <p>ทะเบียนตู้คอนเทนเนอร์</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview menu-open">
                            <a href="/copyldlt3" routerLinkActive="active" class="nav-link">
                                <i class="nav-icon fas fa-calendar-week"></i>
                                <p>ระบบจัดการคิว(COPY)</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview menu-open">
                            <a href="/copyldlt4" routerLinkActive="active" class="nav-link">
                                <i class="nav-icon fas fa-box"></i>
                                <p>ทะเบียนตู้คอนเทนเนอร์(COPY)</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview menu-open">
                            <a routerLink="/copyldlt1" routerLinkActive="active" class="nav-link">
                                <i class="nav-icon fas fa-columns"></i>
                                <p>กำหนดโควต้าผู้ขนส่ง (COPY)</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview menu-open">
                            <a routerLink="/copyldlt5" routerLinkActive="active" class="nav-link">
                                <i class="nav-icon fas fa-truck-pickup"></i>
                                <p>ระบบติดตามรถบรรทุก (COPY)</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview menu-open">
                            <a routerLink="/copyldls1" routerLinkActive="active" class="nav-link">
                                <i class="nav-icon fas fa-map-marker-alt"></i>
                                <p>ระบบควบคุมการขึ้นสินค้า (COPY)</p>
                            </a>
                        </li>


                        

                   


                        
        
        
                    </ul>
            <!-- <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview menu-open">
                    <a href="/vendor1" routerLinkActive="active" class="nav-link">
                        <p>ระบบติดตาม Shipment</p>
                    </a>
                </li>

                <li class="nav-item has-treeview menu-open">
                    <a routerLink="/ldlt1" routerLinkActive="active" class="nav-link">
                        <p>กำหนดโควต้าผู้ขนส่ง</p>
                    </a>
                </li>

                <li class="nav-item has-treeview menu-open">
                    <a routerLink="/vendor2" routerLinkActive="active" class="nav-link">
                        <p>ระบบติดตามรถบรรทุก</p>
                    </a>
                </li>

                <li class="nav-item has-treeview menu-open">
                    <a routerLink="/ldlt3" routerLinkActive="active" class="nav-link">
                        <p>ระบบจัดการคิว</p>
                    </a>
                </li>

                <li class="nav-item has-treeview menu-open">
                    <a href="/ldlt4" routerLinkActive="active" class="nav-link">
                        <p>ทะเบียนตู้คอนเทนเนอร์</p>
                    </a>
                </li>


            </ul> -->
        </nav>
    </div>
</aside>