<app-header></app-header>
<app-sidebar></app-sidebar>
<app-footer></app-footer>

<div class="content-wrapper">

    <section class="content" style="padding: 10px;">
        <div class="card">


            <div class="card-body" style="font-size: 20px;">
                <app-content-header [ContentHeader]="content_header_name"></app-content-header>

                <div class="row">

                    <table>
                        <tr>
                            <td style="padding-left: 30px;"> Loading Date:</td>
                            <td style="padding-left: 10px;">
                                <app-date-picker style="text-align: center;" (FindDateSelected)="GetDate($event)"></app-date-picker>
                            </td>
                            <td style="padding-left: 30px;"> Type:</td>
                            <td>
                                <mat-form-field style="width:100%;">
                                    <mat-select [formControl]="shipmentType" multiple>
                                        <ng-container *ngIf="getShipT != undefined">
                                            <ng-container *ngIf="getShipT.message =='OK'">
                                                <mat-option *ngFor="let shipType of shipmenttypeList"
                                                    [value]="shipType">
                                                    {{shipType}}
                                                </mat-option>
                                            </ng-container>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td style="padding-left: 30px;"> Invoice: </td>
                            <td>
                                <mat-form-field class="example-full-width" style="width:100%; display: inline-block;">
                                    <input matInput [formControl]="invoiceNo">
                                </mat-form-field>
                            </td>


                        </tr>

                        <tr>
                            <td style="padding-left: 30px;"> Plant:</td>
                            <td>
                                <mat-form-field style="width:100%;">
                                    <mat-select [formControl]="plantNum" multiple>
                                        <ng-container *ngIf="getPlantNum != undefined">
                                            <ng-container *ngIf="getPlantNum.message =='OK'">
                                                <mat-option *ngFor="let plantno of plantList" [value]="plantno">
                                                    {{plantno}}
                                                </mat-option>
                                            </ng-container>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </td>

                            <td style="padding-left: 30px;"> Status:</td>
                            <td>
                                <mat-form-field style="width:100%;">
                                    <mat-select [formControl]="statusNum" multiple>
                                        <ng-container *ngIf="getStat != undefined">
                                            <ng-container *ngIf="getStat.message =='OK'">
                                                <mat-option *ngFor="let stat of statusList" [value]="stat">{{stat}}
                                                </mat-option>
                                            </ng-container>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </td>

                            <td style="padding-left: 30px;"> Shipment: </td>
                            <td>
                                <mat-form-field class="example-full-width" style="width:100%; display: inline-block;">
                                    <input matInput [formControl]="shipmentNo">
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td style="padding-left: 30px;"> DC:</td>
                            <td>
                                <mat-form-field style="width:100%;">
                                    <mat-select [formControl]="warehouseNum" multiple>
                                        <ng-container *ngIf="getStoreNum != undefined">
                                            <ng-container *ngIf="getStoreNum.message =='OK'">
                                                <mat-option *ngFor="let wareno of warehouseList" [value]="wareno">
                                                    {{wareno}}
                                                </mat-option>
                                            </ng-container>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td></td>
                            <td></td>
                            <td style="padding-left: 30px;"> Delivery: </td>
                            <td>
                                <mat-form-field class="example-full-width" style="width:100%; display: inline-block;">
                                    <input matInput [formControl]="deliveryNo">
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                            <td style="text-align: right;">
                                <p (click)="clearSearch()"><u>Click เพื่อล้างข้อมูลการค้นหา</u></p>

                                <div class="btn-group" style="text-align: right; width: 100%">
                                    <app-find-button style="width: 10rem;" class="d-inline-block"
                                        (click)="datatoSearch()">
                                    </app-find-button>
                                </div>
                                <br>
                                <mat-checkbox class="example-margin" [(ngModel)]="checked" (change)="refresh($event)">
                                    รีเฟรชทุก 1 นาที</mat-checkbox>

                            </td>

                        </tr>



                    </table>
                </div>


                <div class="card-body pad table-responsive" style="font-size: 20px;">

                </div>

                <!-- ----------------------------------create table -->
                <ng-container *ngIf="getTable != undefined">
                    <ng-container *ngIf="getTable.message =='OK'">
                        <div class="card-body pad table-responsive" style="font-size: 20px;">
                            <div class="row">
                                <table class="table table-valign-middle text-center  table-bordered "
                                    style="max-width: 100%; border: solid 1px;">
                                    <thead>
                                        <th class="light-gray-bg">Step No.</th>
                                        <th class="light-gray-bg" *ngFor="let items of getTable.header">{{items}}</th>
                                    </thead>
                                    <tbody>
                                        <!-- [ngStyle]="{'background-color': sameShipment[i] === true ? 'lightgray' : 'red'}" -->
                                        <tr *ngFor="let item of getTable.result; let nR = index;" [ngClass]="{'light-gray-bg': sameShipment[nR] === true}">
                                            <td>{{nR+1}}</td>
                                            <td *ngFor="let items of getTable.header; let nC = index;">
                                                {{tabdat[nR][nC]}}
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>

            </div>


        </div>
    </section>

</div>