<app-header></app-header>
<app-sidebar></app-sidebar>
<app-footer></app-footer>
<div class="content-wrapper">
    <section class="content" style="padding: 10px;">
        <div class="card">
            <div class="card-body" style="font-size: 20px;">
                <div class="row">
                    <div class="col-lg-6">
                        <app-content-header [ContentHeader]="content_header_name"></app-content-header>
                        <table>
                            <tr>
                                <td style="padding-left: 20px;">ประเภทงาน:</td>
                                <td style="padding-left: 20px;">
                                    <!-- <app-dropdown [options]="AllAgentOptions" [selectValue]="SelectedAgent"
                                        [ddName]="'agent'" (SelectedDdValue)="SelectedToSearch($event)">
                                    </app-dropdown> -->

                                    <mat-form-field>
                                        <mat-select [formControl]="ShipType">
                                            <mat-option *ngFor="let shipmType of shipmentOption" [value]="shipmType">
                                                {{shipmType}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-left: 20px;">Date From:</td>
                                <td style="padding-left: 20px;">
                                    <app-date-picker (FindDateSelected)="GetDate($event,1)"></app-date-picker>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-left: 20px;">Date To:</td>
                                <td style="padding-left: 20px;">
                                    <app-date-picker (FindDateSelected)="GetDate($event,2)"></app-date-picker>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-left: 20px;">ผู้ขนส่ง:</td>
                                <td style="padding-left: 20px;">
                                    <mat-form-field>
                                        <mat-select [formControl]="CarrierName">
                                            <mat-option *ngFor="let transName of Carrier_Name" [value]="transName">
                                                {{transName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-left: 20px;">สถานะ:</td>
                                <td style="padding-left: 20px;">
                                    <mat-form-field>
                                        <mat-select [formControl]="shipmentStatus">
                                            <mat-option *ngFor="let shipStatus of shipment_Status" [value]="shipStatus">
                                                {{shipStatus}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding: 0px;"></td>

                                <td style="text-align: right;">
                                    <div class="btn-group" style="text-align: right; width: 40%">
                                        <app-find-button style="width: 4rem; margin-top: 1rem; font-size: 50px;"
                                            (click)="datatoSearch()">
                                        </app-find-button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <!-- ------------------------info display -->
                    <div class="col-lg-6">
                        <app-content-header [ContentHeader]="content_header_name2"></app-content-header>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="info-box mb-3"
                                    style="background-color: rgb(173, 206, 158); max-height: 100%;">


                                    <table>
                                        <tr>
                                            <ng-container *ngIf="getCarrierName.result != undefined"></ng-container>
                                            <b>{{selcarrierName}}</b>

                                        </tr>

                                        <tr>
                                            <ng-container *ngIf="getResQuotaStat.result != undefined">

                                                <ul style="list-style-type:none; padding-inline-start:10px">
                                                    <b>
                                                        <li *ngFor="let vend of show_vendor">{{vend}}</li>
                                                    </b>

                                                </ul>
                                            </ng-container>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                            <div class="col-lg-6" style="display: inline-block;">
                                <div class="info-box mb-3" style="background-color: rgb(111, 166, 197); padding-right: 20px; max-height: 100%;">

                                    <ng-container *ngIf="getResQuotaStat.result != undefined">
                                        <div>
                                            <ul style="list-style-type:none; padding-inline-start:10px;">
                                                <b>
                                                    <li *ngFor="let showAll of show_textAll">{{showAll}}</li>
                                                </b>

                                            </ul>
                                        </div>
                                    </ng-container>

                                </div>


                                <ng-container *ngIf="remark">
                                    <div class="info-box mb-3"
                                        style="background-color: rgb(250, 227, 153); height: 200px;">
                                        <b>Remarks</b>
                                    </div>
                                </ng-container>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>

        <!-- ------------------- table area -->

        <div class="card" style="font-size: 20px;">
            <div style="padding: 20px; width: 40%;">
                <form class="example-form">
                    <mat-form-field class="example-full-width" style="width:70%">
                        <input matInput placeholder="Shipment No., Booking No., ทะเบียนรถ" value=""
                            [(ngModel)]="search1" [formControl]="searchkeyword">

                    </mat-form-field>
                    <mat-icon matDatepickerToggleIcon>search</mat-icon>

                </form>
            </div>

            <ng-container *ngIf="getResProSearchCarQuota != undefined">
                <ng-container *ngIf="getResProSearchCarQuota.message =='OK'">
                    <div class="card-body pad table-responsive">
                        <table class="table table-valign-middle text-center table-bordered">
                            <thead>
                                <th class="light-gray-bg">No.</th>
                                <th class="light-gray-bg">Shipment No.</th>
                                <th class="light-gray-bg">Delivery No.</th>
                                <th class="light-gray-bg">Invoice No.</th>
                                <th class="light-gray-bg">Booking No.</th>
                                <th class="light-gray-bg">Closing Time</th>
                                <th class="light-gray-bg">Grade</th>
                                <th class="light-gray-bg">Qty(kg)</th>
                                <th class="light-gray-bg">Truck Load</th>
                                <th class="yellow-bg">ประเภทรถ</th>
                                <th class="yellow-bg">Shipment (หาง)</th>
                                <th class="yellow-bg">รถตีด่วน</th>
                                <th class="yellow-bg">ต้องการอุปกรณ์</th>
                                <th class="yellow-bg">คนบรรจุสินค้า</th>
                                <th class="light-gray-bg">Remarks</th>
                                <th class="light-gray-bg">Pick Up At</th>
                                <th class="light-gray-bg">Return To</th>
                                <th class="yellow-bg">Route</th>
                                <th class="yellow-bg">รับของข้างนอก</th>
                                <th class="light-gray-bg">จำนวนกรรมกรลงสินค้า</th>
                                <ng-container *ngIf="statuToShow == 'Create Shipment'">
                                    <th class="yellow-bg">Planning Date</th>
                                    <th class="yellow-bg">Planning Time</th>
                                </ng-container>

                                <ng-container *ngIf="statuToShow == 'Planning'">
                                    <th class="yellow-bg">Planning Time</th>
                                </ng-container>


                                <th class="light-gray-bg"></th>
                            </thead>

                            <tbody>

                                <tr *ngFor="let data of getResProSearchCarQuota.result | filter:search1; let i =index;">
                                    <td>{{i+1}}</td>
                                    <td>{{data.shipment_No}}</td>
                                    <td>{{data.deliver_No}}</td>
                                    <td>{{data.invoice_No}}</td>
                                    <td>{{data.booking_No}}</td>
                                    <td>{{data.closing_time}}</td>
                                    <td>{{data.qty}}</td>
                                    <td>{{data.mat_no}}</td>
                                    <td>{{data.truck_Load}}</td>

                                    <!-------- DONT FORGET TO SET CONDITION FOR DISPLAY -->
                                    <td>
                                        <ng-container *ngIf="statuToShow == 'Create Shipment'">
                                            <ng-container *ngIf="AllVehicleOption.length > 0">
                                                <app-dropdown [options]="AllVehicleOption"
                                                    [selectValue]="SelectedVehicleGroup[i]" [ddName]="'vehicleGroup'"
                                                    [index_row]="i"
                                                    (SelectedDdValue)="SelectedToSearch($event); SelectedVHC($event,i)">
                                                </app-dropdown>
                                            </ng-container>
                                        </ng-container>

                                        <ng-container *ngIf="statuToShow == 'Planning'">
                                            {{data.vehicle_group_desc}}
                                        </ng-container>
                                    </td>
                                    <td>



                                        <ng-container *ngIf="statuToShow == 'Create Shipment'">
                                            <!-- <ng-container *ngIf="AllShipmentLinkOption[i].length >0">
                                        <app-dropdown [options]="AllShipmentLinkOption[i]" 
                                            [selectValue]="SelectedShipment[i]" [ddName]="'shipmentLink'"
                                            [index_row]="i" (SelectedDdValue)="SelectedToSearch($event);">
                                        </app-dropdown>
                                        DDL SHIPMENTLINK
                                    </ng-container> -->

                                            <mat-form-field>
                                                <mat-select [formControl]="shipmentLink" [disabled]="bt_save[i]"
                                                    (selectionChange)="selectedShipLink($event,i)">
                                                    <ng-container
                                                        *ngIf="getResProSearchCarQuota.result[i] != undefined">
                                                        <ng-container *ngIf="shipLinkOption != undefined">
                                                            <mat-option *ngFor="let shiplink of shipLinkOption"
                                                                [value]="shiplink">
                                                                {{shiplink.shipment_No}}
                                                            </mat-option>
                                                        </ng-container>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field>
                                        </ng-container>


                                        <ng-container *ngIf="statuToShow == 'Planning'">
                                            {{data.shipments_link_id}}
                                        </ng-container>


                                    </td>

                                    <td>
                                        <ng-container *ngIf="statuToShow == 'Create Shipment'">
                                            <ng-container *ngIf="AllIsStatOption.length > 0">
                                                <app-dropdown [options]="AllIsStatOption"
                                                    [selectValue]="SelectedYesNo[i]" [ddName]="'UrgentCar'"
                                                    [index_row]="i" (SelectedDdValue)="SelectedToSearch($event)">
                                                </app-dropdown>
                                            </ng-container>
                                        </ng-container>

                                        <ng-container *ngIf="statuToShow == 'Planning'">
                                            {{data.isStat}}</ng-container>
                                    </td>
                                    <td>

                                        <ng-container *ngIf="statuToShow == 'Create Shipment'">
                                            <ng-container *ngIf="AllReqEquipOptions.length > 0">
                                                <app-dropdown [options]="AllReqEquipOptions"
                                                    [selectValue]="SelectedReqEquip[i]" [ddName]="'ReqEquip'"
                                                    [index_row]="i" (SelectedDdValue)="SelectedToSearch($event)">
                                                </app-dropdown>
                                            </ng-container>
                                        </ng-container>

                                        <ng-container *ngIf="statuToShow == 'Planning'">
                                            {{data.req_qequipments}}
                                        </ng-container>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="statuToShow == 'Create Shipment'">
                                            <ng-container *ngIf="AllTypePackingOPtions.length > 0">
                                                <app-dropdown [options]="AllTypePackingOPtions"
                                                    [selectValue]="SelectedTypePack[i]" [ddName]="'TypePacking'"
                                                    [index_row]="i" (SelectedDdValue)="SelectedToSearch($event)">
                                                </app-dropdown>
                                            </ng-container>
                                        </ng-container>

                                        <ng-container *ngIf="statuToShow == 'Create Shipment'">
                                            {{data.type_packing_name}}
                                        </ng-container>
                                    </td>
                                    <td>
                                        <button class="square_bt_enable btn-danger" (click)="toggleRemark(i)"></button>


                                        <!-- <ng-container *ngIf="statuToShow == 'Create Shipment'">
                                </ng-container>

                                <ng-container *ngIf="statuToShow == 'Planning'">
                                    {{data.remark}}
                                </ng-container> -->

                                    </td>
                                    <td>{{data.pick_up_at}}</td>
                                    <td>{{data.return_to}}</td>
                                    <td>
                                        <ng-container *ngIf="statuToShow == 'Create Shipment'">
                                            <ng-container *ngIf="AllRouteOption.length > 0">
                                                <app-dropdown [options]="AllRouteOption"
                                                    [selectValue]="SelectedRoute[i]" [ddName]="'route'" [index_row]="i"
                                                    (SelectedDdValue)="SelectedToSearch($event)">
                                                </app-dropdown>
                                            </ng-container>
                                        </ng-container>

                                        <ng-container *ngIf="statuToShow == 'Planning'">
                                            {{data.route_name}}
                                        </ng-container>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="statuToShow == 'Create Shipment'">
                                            <ng-container *ngIf="AllIsStatOption.length > 0">
                                                <app-dropdown [options]="AllIsStatOption"
                                                    [selectValue]="SelectedYesNo[i]" [ddName]="'isOutside'"
                                                    [index_row]="i" (SelectedDdValue)="SelectedToSearch($event)">
                                                </app-dropdown>
                                            </ng-container>
                                        </ng-container>

                                        <ng-container *ngIf="statuToShow == 'Planning'">
                                            {{data.isOutside}}
                                        </ng-container>



                                    </td>
                                    <td>{{data.total_worker}}</td>


                                    <ng-container *ngIf="statuToShow == 'Create Shipment'">
                                        <td>


                                            <app-date-picker (FindDateSelected)="GetDatePlanning($event,i)">
                                            </app-date-picker>
                                        </td>
                                    </ng-container>

                                    <ng-container *ngIf="statuToShow == 'Planning'">
                                        <td>
                                            <!-- {{data.planning_Datetime}} -->
                                            <ng-container *ngIf="date_toShow && time_toShow != undefined">

                                                {{date_toShow[i]}} <br> {{time_toShow[i]}}


                                            </ng-container>
                                        </td>
                                    </ng-container>



                                    <ng-container *ngIf="statuToShow == 'Create Shipment'">

                                        <td style="padding-bottom: 10px;">
                                            <app-time-picker (SelectedTime)="GetTimeSelected($event)" [setDate]=""
                                                [index_row]="i" [datepickName]="'planningTime'">
                                            </app-time-picker>
                                        </td>
                                    </ng-container>



                                    <td>
                                        <ng-container *ngIf="statuToShow == 'Create Shipment'">
                                            <button type="button" class="btn btn-block btn-success btn-sm"
                                                (click)="AssignVendor(i)">ส่ง
                                                Quota</button>
                                        </ng-container>

                                        <ng-container *ngIf="statuToShow == 'Planning'">
                                            <app-delete-button (click)="returnQuota(i)"></app-delete-button>
                                        </ng-container>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </ng-container>
            </ng-container>
        </div>

    </section>
</div>